* {
  margin: 0;
  padding: 0;
  color: #faa41b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
  background-color: #090909;
}

p {
  color: #faa41b;
  padding: 2px;
  }
i {
  padding: 1em;
  font-size: xx-large;
}
.App {
  margin: 0;
  padding: 0;
  text-align: center;
}

.app-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.app-header i{
  align-items: right;
  justify-content: right;
}

